apiVersion: apps/v1
kind: Deployment
metadata:
  name: notes-app
  namespace: note-app   # if using namespace
spec:
  replicas: 5        # <-- SET YOUR 5 REPLICAS HERE
  selector:
    matchLabels:
      app: notes-app
  template:
    metadata:
      labels:
        app: notes-app
    spec:
      containers:
      - name: notes-app
        image: sourabh123421/django-notes-app:latest
        ports:
        - containerPort: 8000