apiVersion: apps/v1
kind: Deployment
metadata:
  name: notes-app
  namespace: note-app
spec:
  replicas: 5
  selector:
    matchLabels:
      app: notes-app
  template:
    metadata:
      labels:
        app: notes-app
    spec:
      containers:
      - name: notes-app
        image: sourabh123421/django-notes-app:v39
        ports:
        - containerPort: 8000
        env:
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: notes-config
              key: DB_NAME

        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: notes-config
              key: DB_HOST

        - name: DB_PORT
          valueFrom:
            configMapKeyRef:
              name: notes-config
              key: DB_PORT

        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: notes-secret
              key: DB_USER

        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: notes-secret
              key: DB_PASSWORD